<div class="top">
	<p><i class="icon-list"></i><span>订单列表</span></p>
	<ul>
		<li><a href="#">Home</a></li>
	</ul>
</div>
<div class="admins">
	<table class="table table-hover">
		<tr>
			<th>订单号</th>
			<th>下单人</th>
			<th>总金额</th>
			<th>订单状态</th>
			<th>下单时间</th>
			<th>支付方式</th>
			<th>操作</th>
		</tr>
		<foreach name="list" item="vo">
			<tr>
				<td><{$vo.id}></td>
				<td><{$vo.name}></td>
				<td><{$vo.level}></td>
				<td><{$vo.email}></td>
				<td><{$vo.create_at}></td>
				<td><{$vo.status}></td>
				<td><a onclick="return detail( this.href, inputUser )" href="<php>echo U('Admin/Users/detail/id/'.$vo['id']);</php>" data-toggle="modal" data-target="#myUser">查看</a></td>
			</tr>
		</foreach>
	</table>
	<nav class="page">
		<ul class="pagination">
			<{$show}>
		</ul>
	</nav>
</div>