	<meta charset="UTF-8">
	<link href="__PUBLIC__/Home/css/normalize.min.css" rel="stylesheet">
	<link href="__PUBLIC__/Home/css/user.css" rel="stylesheet">
	<link rel="shortcut icon" href="__PUBLIC__/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Home/layer/layer.js"></script>
</head>
<body>
<div class="header">
		<!-- <div class="title-tab">
			<a href="javascript:;"  id="aScstyle" onclick="showBox('aScstyle', 'scstyle');">商城网站</a>
			<a href="javascript:;" {{$user_classes?'':'class="active"'}} id="aYxstyle" onclick="showBox('aYxstyle', 'yxstyle');">营销网站</a>
			<a href="javascript:;"  id="aDomain" onclick="showBox('aDomain', 'domain');">域名</a>
			<a href="javascript:;"  id="aWeigw" onclick="showBox('aWeigw', 'weigw');">微官网</a>
			<a href="javascript:;"  id="aWeifx" onclick="showBox('aWeifx', 'weifx');">微分销</a>
			<a href="javascript:;"  id="aH5" onclick="showBox('aH5', 'h5');">H5宣传页</a>
			<a href="javascript:;"  id="aApp" onclick="showBox('aApp', 'app');">手机app</a>
		</div> -->
		<ul>
			<li>老板 , {{$date}} !</li>
			<li><a href="http://wpa.qq.com/msgrd?v=3&uin=869688800&site=qq&menu=yes" target="_blank" >人工客服</a></li>
			<li><a href="{{:U('/Login/logout')}}">退出</a></li>
		</ul>
</div>
<div class="brand">
		<a href="{{:U('/Index/index')}}" class="brand"><img src="__PUBLIC__/Home/images/logo.jpg" alt=""></a>
</div>