<!DOCTYPE html>
<html lang="en">
<head>
	<title>用户首页</title>
	<include file="Public/header" /><!-- 头部 -->
	<include file="Public/left" /><!-- 左边栏 -->
	<div class="container">
	<div class="content-tab">
		<div class="title-tab">
			<a href="javascript:;" class="active" id="aDomain" onclick="showBox('aDomain','domain');">域名管理</a>
			<a href="javascript:;"  id="aBeian" onclick="showBox('aBeian', 'beian');">域名备案</a>
		</div>

		<div class="content-tab web" id="domain">
			<table>
				<tr>
					<td>域名</td>
					<td>状态</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>{{:session('homeuser.name')}}.{{:session('domain')}}</td>
					<td>正常</td>
					<td><a href="{{:U('binding')}}">绑定独立域名</a></td>
				</tr>
			</table>
		</div>

		<div class="content-tab web" style="display:none;" id="beian">
			<img src="__PUBLIC__/Home/images/beian.png" alt="">
		</div>
	</div>
		
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script>
		function showBox(aitem, item){
			$('#' + aitem).addClass('active');
			$('#' + aitem).siblings('a').removeClass('active');
			$('#' + item).show();
			$('#' + item).siblings('div.content-tab').hide();
		}
	</script>
</body>
</html>