<html>
<head>
<title>增加友情链接</title>
<include file="Public/header" /><!-- b头部 -->
<include file="Public/left" /><!-- 左边栏 -->
<div class="container">
<style> #mynav #nav_a5{background:#006A98;}</style>
<include file="nav" /><!-- 头部 -->
    <style>
    table{ width: 100%; text-align: none;}
      table th, table td{ padding:0 0; text-indent: 0; }
      td{height:10px;}
      tr:first-child td:first-child{ text-align:right;}
    </style>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="98%">
    <tbody><tr>
      <td height="30" width="60%" style="text-align:left;">
      <a href="{{:U('Websites/friendship',array('cid'=>$cid))}}">友情链接列表</a> &gt;&gt; 添加轮播图</td>
    </tr>
  </tbody>
  </table>
<form name="form1" action="{{:U('Websites/friendship_add')}}?id={{$friendship['friendship_id']}}" enctype="multipart/form-data" method="post" onsubmit="return checkSubmit()">
  <table id="needset" style="border:1px solid #cfcfcf;background:#ffffff;" align="center" border="0" cellpadding="2" cellspacing="2" width="98%">
    <tbody>
    <tr>
      <td colspan="5" class="bline" height="24">
      	<table border="0" cellpadding="0" cellspacing="0" width="800">
          <tbody><tr>
            <td width="76">&nbsp;友情链接名称：</td>
            <td width="408"><input name="friendship_name" id="title" style="width:588px" value="{{$friendship['friendship_name']}}" type="text" /></td>
          </tr>
        </tbody></table></td>
    </tr>
     <tr>
      <td colspan="5" class="bline" height="24">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
          <tbody><tr>
            <td width="76">&nbsp;连接地址：</td>
            <td width="408"><input name="friendship_url" style="width:588px" value="{{$friendship['friendship_url']}}" type="text" /></td>
          </tr>
        </tbody></table></td>
    </tr>
     <tr>
      <td colspan="5" class="bline" height="24">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
          <tbody><tr>
            <td width="76">&nbsp;站长邮箱：</td>
            <td width="408"><input name="friendship_email" style="width:588px" value="{{$friendship['friendship_email']}}" type="text" /></td>
          </tr>
        </tbody></table></td>
    </tr>
     <tr>
      <td colspan="5" class="bline" height="24">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
          <tbody><tr>
            <td width="76">&nbsp;备注：</td>
            <td width="408"><input name="friendship_remarks" style="width:588px" value="{{$friendship['friendship_remarks']}}" type="text" /></td>
          </tr>
        </tbody></table></td>
    </tr>
     <tr>
      <td colspan="5" class="bline" height="24">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
        <tbody>
        <tr>
          <td width="130">&nbsp;状态：</td>
          <td>
       <span id="typeidct">
       <input name="friendship_status" type="radio" value="0" checked />显示
       <input name="friendship_status" type="radio" value="1" {{$friendship['friendship_status']?'checked':''}} />隐藏
      </span>
       </td>
        </tr>
      </tbody></table></td>
    </tr>
  <tr>
     <td colspan="2"><table style="margin-bottom:3px;" border="0" cellpadding="0" cellspacing="0" width="100%">
       <tbody><tr> 
        <td class="bline" height="24" width="130">&nbsp;图片：</td>
        <td class="bline">
        <input name="friendship_logo" id="suoluetu1" style="width:300px" class="text" type="file"  onchange="check(this)"> 
    </td>
       </tr>
    </tbody></table>
</td>
   </tr>
    <tr>
    <td></td>
    <td>
    <span style="margin-left:130px;color:#f00;">{{$Think.get.error|default=''}}</span>
      <input type="submit" value="提交">
    </td>
    </tr>
  </tbody>
  </table>
</form>
<div style="width:98%;text-align:center;" id="div_pic">
     <img src="{{$friendship['friendship_logo']}}" style="max-width:98%" id="imgs">
</div>
</div>
</body>
<script type="text/javascript">
    //获取临时图片
    var img = document.getElementById('imgs');
    function check(obj){
        $('#div_pic').css('display','');
        console.dir(obj.files);
        img.src = window.URL.createObjectURL(obj.files[0]);
    }
</script>
</html>