<style type="text/css">

#mynav li{

	width:100px;
	height:30px;
	float:left;
	margin-left: 10px;
	line-height: 30px;
}
#mynav li a{
	color:#fff;
}
</style>
<div style="width:100%;height:30px;background:#008CBA" id="mynav">
		<ul>
			<li><a href="{{:U('Websites/config')}}">网站配置</a></li>
			<li><a href="{{:U('Websites/column')}}">栏目管理</a></li>
			<li><a href="{{:U('Websites/article')}}">文章管理</a></li>
			<li><a href="{{:U('Websites/carousel')}}">轮播图管理</a></li>
			<li><a href="{{:U('Websites/friendship')}}">友链管理</a></li>
		</ul>
</div>